@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  background-color: rgb(28, 28, 28);
}

/* Custom Arrow Animation */

.bouncing {
  animation: bouncing 2s infinite;
}

@keyframes bouncing {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

/* Custom Shadow & Scale Effect */

.smooth-transform {
  transition: transform 500ms ease;
  transition: filter 200ms ease;
}

.smooth-transform:hover {
  box-shadow: 200px rgb(207, 207, 22); 
  transform: scale(1.06); 
  filter: drop-shadow(0 0 8px rgb(207, 207, 22))
}

/* Custom Links Underline Effect */

.link__hover--effect {
    position: relative;
}

.link__hover--effect:hover::after {
    left: 0;
    width: 100%;
}

.link__hover--effect::after {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 6px;
    right: 0;
    width: 0;
    background-color: rgb(207, 207, 22);
    transition: all 100ms ease-in-out;
}

/* Custom Button Effects */

.yellow-button {
  background-color: rgb(207, 207, 22);
}

.button-transform {
  transition: transform 200ms ease;
}

.button-transform:hover {
  transform: scale(1.02);
  background-color: rgb(255, 255, 0);
}

.button-transform:active {
  transform: scale(0.70);
  background-color: rgb(221, 221, 21);
}

.second-button-transform {
  transition: transform 200ms ease;
}

.second-button-transform:hover {
  transform: scale(1.02);
  background-color: rgb(255, 255, 0);
  color: black;
  box-shadow: 0px 0px 20px 1px rgb(255, 255, 0);
}

.second-button-transform:active {
  transform: scale(0.70);
  background-color: rgb(221, 221, 21);
  color: black
}

/* Gears Rotate Effect */

.arrow-rotate {
  display: inline-block;
  animation: rotate 900ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Results Effect */

.result-effect {
  transition: transform 300ms ease;
}

.result-effect:hover {
  transform: scale(1.05)
}

/* Colorfull Border Hover */

.selected-border {
  background-color: transparent;
  border: 2px solid #ccd2e6;
  border-radius: 5px;
  color:rgb(207, 207, 22)
}

.glow {
  --glow-line-color: rgb(207, 207, 22);
  --glow-line-thickness: 2px;
  --glow-line-length: 20;
  --glow-blur-color: rgb(207, 207, 22);
  --glow-blur-size: 10px;
  --animation-speed: 500ms;
  --container-offset: 12px;
  position: relative;
}

.glow-container {
  pointer-events: none;
  position: absolute;
  inset: calc(var(--container-offset) / -2);
  width: calc(100% + var(--container-offset));
  height: calc(100% + var(--container-offset));
  overflow: visible;
  opacity: 0;
  transition: opacity 200ms ease;
}

.glow-blur, .glow-line {
  width: calc(100% - var(--container-offset));
  height: calc(100% - var(--container-offset));
  x: calc(var(--container-offset) / 2);
  y: calc(var(--container-offset) / 2);
  rx: 2px;
  fill: transparent;
  stroke: black;
  stroke-width: 10px;
  stroke-dasharray: var(--glow-line-length) calc(100 - var(--glow-line-length));
  stroke-dashoffset: var(--glow-start-offset);
}

.glow-line {
  --glow-start-offset: 0;
  stroke: var(--glow-line-color);
  stroke-width: var(--glow-line-thickness);
}
.glow-blur {
  --glow-start-offset: -50;
  filter: blur(var(--glow-blur-size));
  stroke: var(--glow-blur-color);
  stroke-width: var(--glow-blur-size);
}
.glow:is(:hover, :focus-within) .glow-container {
  opacity: 1;
}

.glow:is(:hover, :focus-within) .glow-blur, .glow:is(:hover, :focus-within) .glow-line {
  animation: glow-border var(--animation-speed) linear 1 forwards;
}

@keyframes glow-border {
  to {
    stroke-dashoffset: calc(var(--glow-start-offset) - 20);
  }
}